
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    text-decoration: none;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.headerContainer .logo{
    font-weight: bold;
    padding: 25px;
    font-size: 1.5rem;
}
ul{
    text-align: center;
    align-items: center;
}
ul li{
    display: inline-block;
    padding: 15px;
}
ul li:hover{
    background-color: rgb(201, 192, 210);
}
.nav .hidden{
    transition: 1s;
}
.headerWrapper{
    position: relative;
    height: 50vh;
    background-color:  hsl(272, 23%, 31%);
}
.headerBody{
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.headerContainerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.headerContainerText h1{
    font-size: 2.5rem;
    padding: 5px;
}
.headerContainerText p{
    padding: 10px 0 10px 0;
    width: 400px;
}
.headerButton button{
    padding: 10px;
}
.headerContainerphoto img{
    position: absolute;
    right: 200px;
    bottom: -90px;
}
.first{
    position: absolute;
    left: 0;
    bottom: -220px;
}
.second{
    position: absolute;
    right: 50px;
    top: 0px;
}
.bodayContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bodayContent svg{
    transition: 4s;
    animation: rotate 20s infinite linear ;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
}
.bodyProcess{
    padding: 30px;

}
.mainBody h1{
    padding: 90px 0px 0px 220px;
    font-weight:1000;
    font-size: 2.5rem;

}
.bodayContent p{
    width: 250px;
}

.afterBodyContent{
    display: flex;
    justify-content: space-around;
    width: 60%;
    background-color:  hsl(272, 23%, 31%);
    padding: 30px;
    flex-wrap: wrap;
    color: aliceblue;
}
.afterBodyContent button{
    padding: 2px;
    background-color:  hsl(272, 23%, 31%);
    width: 8rem;
    height: 3rem;
    cursor: pointer;
}
.afterBody{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.footer_logo{
    display: flex;
    justify-content:space-between;
    padding: 20px 40px;
}
.footer_logo a{
    font-size: 1.5rem;
    font-weight: bolder;
}
.footerEndContent{
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
    flex-wrap: wrap;
}
.footerEndContent ul{
    display: flex;
    flex-direction: column;
}
.footerEndContent .h1{
    font-weight: bold;
    color: rgb(92, 92, 29);
}
.Hamburger{
    position: relative;
    display:block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: none;
}
.Hamburger .bar, .Hamburger:after, .Hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
}
.Hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.Hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}
.Hamburger.is-active .bar{
    opacity: 0;
}
@media( max-width: 690px){
    .bodyProcess{
        text-align: center;
    } 
    .mainBody h1{
        width: 100%;
        padding:90px 0;
        text-align: center;
}
header{
    display: flex;
}

.headerContainer{
    flex-direction: column;
    width: 100%;
}
.headerContainerText p{
    width: 100%;
}
.Hamburger{
    display: block;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: end;
}
.logodiv{
    display: flex;
    justify-content: space-between;
}
.hidden{
    display: none;
}
.headerWrapper{
    width: 100%;
}
.headerContainerphoto img{
    position: inherit;
    

}
.headerBody{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    position: relative;
}
.afterBodyContent{
    width: 100%;
}

@media( max-width: 500px){
    header{
        display: flex;
    }

    .headerContainer{
        flex-direction: column;
        width: 100%;
    }
    .headerContainerText p{
        width: 100%;
    }
    .Hamburger{
        display: block;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: end;
    }
    .logodiv{
        display: flex;
        justify-content: space-between;
    }
    .hidden{
        display: none;
    }
    .headerWrapper{
        width: 100%;
    }
    .headerContainerphoto img{
        position: inherit;
        

    }
    .headerBody{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        position: relative;
    }
    .mainBody h1{
        padding: 30px 0px;
        font-weight:bolder;
        font-size: 2.5rem;
        text-align: center;
    }
    .footerEndContent ul{
        width: 100%;
    }
}
}
